@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;

  font-optical-sizing: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-optical-sizing: auto;
}
/* Variables de color para el modo claro */
:root {
  --color-primary-light: #007bff;
  --color-secondary-light: #6c757d;
  --color-secondary-bg:#D3D3D3;
  --color-accent-light: #28a745;
  --color-background-light: #f8f9fa;
  --color-text-light: #333;
  --color-main:#88042B;


  --color-main-bg:#DCB4C0;
  --box-shadow:0 2rem 3rem var(--color-background-light);
}

/* Variables de color para el modo oscuro */
.dark-mode {
  --color-primary-light: #61dafb;
  --color-secondary-light: #adb5bd;
  --color-accent-dark: #20c997;
  --color-background-light: #212529;
  --color-text-light: #fff;
  --box-shadow:0 2rem 3rem var(--color-background-light);
}